<?xml version="1.0"?>
<ruleset name="StudioPress Genesis Coding Standards for FSE Studio">
	<description>Sniffs for formatting errors in FSE Studio</description>

	<!-- Limit to PHP files -->
	<arg name="extensions" value="php"/>

	<!-- Show progress and sniff codes -->
	<arg value="sp"/>

	<rule ref="WordPress"/>
	<rule ref="WordPress-Extra"/>
	<config name="text_domain" value="fsestudio"/>

	<rule ref="PHPCompatibility"/>
	<config name="testVersion" value="7.1-"/>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>lib/*/js/build/*.asset.php</exclude-pattern>
	<exclude-pattern>lib/drewm/*</exclude-pattern>
	<exclude-pattern>wp-modules/app/includes/js/build/*</exclude-pattern>

	<rule ref="WordPress">
		<!-- PSR-4 Overrides -->
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />

		<!-- Allow features discouraged by WordPress core -->
		<exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
		<exclude name="WordPress.PHP.DisallowShortTernary.Found"/>
		<exclude name="WordPress.PHP.YodaConditions" />

		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar" />
	</rule>

	<file>.</file>

	<!-- Exclude false positives for files containing block templates -->
	<rule ref="Squiz.Strings.DoubleQuoteUsage.NotRequired">
		<exclude-pattern>register-layout-components\.php</exclude-pattern>
		<exclude-pattern>/patterns/</exclude-pattern>
	</rule>
</ruleset>
