/* stylelint-disable */
.edit-post-post-status,
.edit-post-visual-editor__post-title-wrapper,
.edit-post-fullscreen-mode-close {
	display: none !important;
}
/* Hide tags for templates */
.fsestudio-template-details ~ * {
	display:none!important;
}
/* Hide the publish/save button in the pattern editor, as the save theme button handles it. */
.editor-post-publish-panel__toggle {
	display:none!important;
}
/* Hide the snackbar on the pattern editor, as the fse-studio app has its own snackbar. */
.components-snackbar{
	display:none!important;
}