/* stylelint-disable */
.edit-post-post-status,
.edit-post-visual-editor__post-title-wrapper {
	display: none !important;
}

/* Hide tags for templates */
.patternmanager-template-details~* {
	display: none !important;
}

/* When the save button is clicked, hide the pre-publish panel that pops open, as we handle saving in PM. */
.editor-post-publish-panel {
	display: none !important;
}

/* Hide the snackbar on the pattern editor, as the pattern-manager app has its own snackbar. */
.components-snackbar {
	display: none !important;
}

/* Toggle components */
.patternmanager-post-type-modal-toggle,
.patternmanager-inserter-toggle {
	margin-top: 16px;
	margin-bottom: -12px;

	/* Keep label from shifting for conditional ReverseTooltip */
	label.components-toggle-control__label {
		height: 20px;
	}
}

/* Name input component */
#patternmanager-pattern-post-name-input-component {
	background-color: hsl(0, 0%, 100%);
	border-color: hsl(0, 0%, 80%);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	height: 50px;
	
	@media only screen and (min-width: 781.25px) {
		height: 40px;
	}

	&:focus {
		border-color: #2684ff;
		transition: all 100ms;
		box-shadow: 0 0 0 1px #2684ff;
	}
}

/* Pattern name input error section */
.components-panel__row-patternmanager-pattern-name-error {
	min-height: auto;

	&-inner {
		color: red;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 0;
	}
}

/* Tooltip components */
.patternmanager-pattern-sidebar-tooltip {
	margin-top: 5px;
	margin-bottom: 15px;
}

.patternmanager-pattern-sidebar-tooltip #tooltip-icon-helper-text {
	padding-left: 8px;
	cursor: default;
}

.patternmanager-pattern-sidebar-reverse-tooltip #tooltip-icon-helper-text {
	padding-right: 8px;
	cursor: pointer;
}

/* Description component */
#patternmanager-pattern-editor-description-textarea {
	background-color: hsl(0, 0%, 100%);
	border-color: hsl(0, 0%, 80%);
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;

	&:focus {
		border-color: #2684ff;
		transition: all 100ms;
		box-shadow: 0 0 0 1px #2684ff;
	}
}
