version: 2.1

orbs:
  node: circleci/node@5.0.0
  php: circleci/php@1.1.0

references:
  PLUGIN_PATH: &PLUGIN_PATH
    plugins/fse-studio

jobs:
  lint:
    docker:
      - image: cimg/php:7.3-node
    steps:
      - checkout:
          path: *PLUGIN_PATH
      - node/install-packages:
          app-dir: *PLUGIN_PATH
      - run:
          name: Linting PHP
          working_directory: *PLUGIN_PATH
          command: npm run lint:php
      - run:
          name: Linting JS and CSS
          working_directory: *PLUGIN_PATH
          command: |
            npm run lint:js
            npm run lint:css
  test-js:
    docker:
      - image: cimg/php:7.3-node
    steps:
      - checkout:
          path: *PLUGIN_PATH
      - node/install-packages:
          app-dir: *PLUGIN_PATH
      - run:
          name: Testing JS
          working_directory: *PLUGIN_PATH
          command: npm run test:js
  phpunit:
    machine:
      image: ubuntu-2004:202111-02
    steps:
      - checkout:
          path: *PLUGIN_PATH
      - run: sudo apt-get update && sudo apt-get install php php-xml php-mbstring
      - php/install-composer
      - node/install-packages:
          app-dir: *PLUGIN_PATH
      - run:
          name: PHPUnit Integration Tests
          working_directory: *PLUGIN_PATH
          command: npm run test:phpunit
  zip:
    docker:
      - image: cimg/php:7.3-node
    steps:
      - checkout:
          path: *PLUGIN_PATH
      - node/install:
          node-version: '14'
      - node/install-packages:
          app-dir: *PLUGIN_PATH
      - run:
          name: Creating the zip file
          working_directory: *PLUGIN_PATH
          command: |
            npm run build
            npm run zip
            mkdir /tmp/artifacts
            mv fse-studio*.zip /tmp/artifacts
      - store_artifacts:
          path: /tmp/artifacts

workflows:
  build:
    jobs:
      - lint
      - test-js
      - phpunit
      - zip
