.pattern-manager-theme-patterns {
	width: 100%;
	border-radius: 2px;
	background: #fff;

	@media (max-width: 1024px) {
		border-width: 2rem;
		padding: 2rem;
	}

	.patterns-container-inner {
		font-size: 14px;

		.pattern-columns {
			display: grid;
			grid-template-columns: 300px 1fr;
			grid-gap: 3rem;

			@media (max-width: 1200px) {
				grid-template-columns: 220px 1fr;
			}

			@media (max-width: 960px) {
				grid-template-columns: 1fr;
			}
		}

		.pattern-inner-sidebar {
			display: block;

			.pattern-search {
				margin-bottom: 2.5rem;
			}

			.pattern-search-count {
				margin-top: -24px;
				font-weight: 600;
			}

			.pattern-categories {

				@media (max-width: 960px) {
					display: flex;
					flex-wrap: wrap;
					gap: 5px;
				}

			}

			.category {
				display: block;
				height: 48px;
				margin-bottom: 2px;
				text-align: left;
				width: 100%;

				@media (max-width: 960px) {
					display: inline-flex;
					width: unset;
				}

				&:not(.category-selected):hover,
				&:not(.category-selected):focus-visible {
					background: #f5f5f5;
					transition: all 0.2s ease;
					color: var(--wp-admin-theme-color);
				}
			}
		}

		.grid-empty {
			margin-left: auto;
			margin-right: auto;
			padding: 2.5rem;
			width: auto;
			text-align: center;
			background: #fff;
			border-radius: 0.25rem;
		}

		.inner-grid {
			columns: 6 300px;
  			column-gap: 3rem;

			.grid-item {
				position: relative;
				box-sizing: border-box;
				margin-bottom: 6rem;
				min-height: 300px;
				border: solid 1px #ddd;
				border-radius: 5px;
				display: inline-block;
				width: 150px;
				width: 100%;

				&[role="button"] {
					cursor: pointer;
				}

				&::before {
					content: "";
					display: block;
				}

				.item-inner {
					height: 100%;

					.item-pattern-preview {
						display: flex;
						z-index: 0;
						flex-grow: 1;
						position: relative;
						height: 100%;

						.pattern-loader {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 300px;
						}

						.pattern-loader::before {
							display: block;
							content: " ";
							border: 3px solid transparent;
							border-top: 3px solid #c7c7c7;
							border-radius: 50%;
							width: 30px;
							height: 30px;
							animation: spin 0.8s linear infinite;
							position: absolute;
							top: calc(50% - 15px);
							left: calc(50% - 15px);
						}

						@keyframes spin {

							0% {
								transform: rotate(0deg);
							}

							100% {
								transform: rotate(360deg);
							}
						}

						@keyframes fadein {

							0% {
								opacity: 0;
							}

							70% {
								opacity: 0;
							}

							100% {
								opacity: 1;
							}

						}

						@-webkit-keyframes fadein {

							0% {
								opacity: 0;
							}

							70% {
								opacity: 0;
							}

							100% {
								opacity: 1;
							}

						}

						.pattern-preview-iframe-outer {
							position: relative;
							width: 100%;
							display: flex;
							align-items: center;
							border-radius: 5px;
							min-height: 300px;
							overflow: hidden;
						}

						.pattern-preview-iframe-inner {
							overflow: hidden;
						}

						iframe {
							animation: 0.6s ease 0s normal forwards 1 fadein;
						}
					}
				}

				.item-actions {
					position: absolute;
					bottom: 20px;
					width: 100%;
					margin-left: auto;
					margin-right: auto;
					padding: 20px;
					opacity: 0;

					a.item-action-button {
						border-right: 1px solid #404040;
					}

					.item-action-button {
						z-index: 50;
						background: transparent;
						cursor: pointer;
						color: #c6c6c6;
						height: 46px;
						justify-content: center;
						padding: 15px 20px;
						transition: 0.1s ease;

						&:hover {
							color: #fff;
						}

						.item-action-icon {
							fill: currentcolor;
							box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
							width: 20px;
							height: 20px;
							margin-right: 4px;
						}

						.item-action-button-text {
							display: inline-block;
							position: relative;
							font-size: 15px;
						}
					}

					.item-action-button-separator {
						position: relative;

						&::after {
							content: "";
							position: absolute;
							right: 0;
							border-right: 1px solid #404040;
							top: 0;
							bottom: 0;
						}
					}
				}

				.item-actions-inside {
					background: #1e1e1e;
					border-radius: 6px;
					display: grid;
					grid-auto-columns: minmax(0, 1fr);
					grid-auto-flow: column;
				}

				&:hover,
				&:focus-within {
					border: 1px solid #006ba1;
					border-radius: 5px;
					transition: all 0.2s ease-in-out;

					// Show the item-action buttons.
					.item-actions {
						opacity: 1;
						transition: all 0.2s ease-in-out;
					}
				}

				.item-pattern-preview-heading {
					display: flex;
					justify-content: center;
					background: #fff;
					padding: 1rem;
					position: absolute;
					bottom: -52px;
					width: 100%;
					font-weight: 600;
				}
			}

			.grid-no-patterns-found {
				font-weight: 400;
			}
		}
	}
}
