html.wp-toolbar {
	padding-top: 0 !important;
}

#wpadminbar {
	display: none;
}

/* stylelint-disable */
html body.toplevel_page_pattern-manager {
	margin-top: 0 !important;
	height: 100% !important;
	background: #fff;
}

.interface-interface-skeleton__html-container {
	padding-top: 0 !important;
}

/* stylelint-enable */

#wpwrap {
	height: 100%;
}

#wpcontent,
#wpbody-content {
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
}

#wpfooter {
	display: none;
}

#wpbody {
	padding-top: 0;
	height: 100%;
}


/* stylelint-disable */
// Temp hacks for Gutenberg style issues
.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper > *,
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > *,
.wp-block {
	max-width: initial;
}

.components-snackbar {
	z-index: 999999999999;
	position: fixed;
	bottom: 10px;
	left: 10px;
	border: 1px solid #ffffff47;
}

/* stylelint-enable */

#patternmanagerapp {
	z-index: 9999999999;
	position: relative;
	width: calc(100% - 160px); // 160px is the width of the admin menu
	left: 160px;
	height: 100%;
	box-sizing: border-box;
	background: #f1f1f1;
	font-size: 16px;

	* {
		box-sizing: border-box !important;
	}

	.patternmanager-nav-container {
		z-index: 10;
		position: sticky;
		display: flex;
		flex: 1 1 0%;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		gap: 1.5rem;
		top: 0;
		flex-shrink: 0;
		flex-wrap: wrap;
		background: #fff;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
		margin-left: auto;
		margin-right: auto;
		padding: 2rem;

		@media (min-width: 1024px) {
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 3rem;
			padding-right: 3rem;
		}

		.nav-container-inner {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;

			.nav-button {
				display: inline-flex;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 1rem;
				padding-right: 1rem;
				font-size: 0.875rem;
				line-height: 20px;
				font-weight: 500;
				align-items: center;
				border-radius: 0.125rem;
				border-width: 4px;
				border-color: transparent;
				color: #fff;
				background-color: #0074ad;
				box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
				cursor: pointer;

				&:hover {
					background-color: #006ba1;
					// hover:bg-wp-blue-hover
					// focus:outline-none
					// focus:ring-2
					// focus:ring-offset-2
					// focus:ring-wp-blue
				}
			}
		}
	}

	.patternmanager-theme-patterns {
		width: 100%;

		.patterns-container {
			margin-left: auto;
			margin-right: auto;
			padding: 2rem;

			@media (min-width: 1024px) {
				padding: 3rem;
			}

			.container-outer-flex {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				max-width: 80rem;
				gap: 2.5rem;

				@media (min-width: 1024px) {
					gap: 5rem;
				}

				.container-inner {
					flex: 0 1 auto;
					width: 100%;

					@media (min-width: 768px) {
						width: 66.666667%;
					}

					.inner-grid {
						display: grid;
						width: 100%;
						gap: 1.25rem;
						grid-template-columns: repeat(1, minmax(0, 1fr));

						@media (min-width: 768px) {
							grid-template-columns: repeat(3, minmax(0, 1fr));
						}

						.grid-empty {
							position: relative;
							padding: 2.5rem;
							width: 100%;
							text-align: center;
							background: #fff;
							border-radius: 0.25rem;
							grid-column: span 2 / span 2;

							@media (min-width: 768px) {
								left: 25%;
							}
						}

						.grid-item {
							display: flex;
							position: relative;
							background-color: #d9d9d9;
							flex-direction: column;
							justify-content: space-between;

							// Show the svg icons on hover.
							&:hover .item-inner svg {
								opacity: 1;
							}

							.item-inner {
								height: 100%;
								border-radius: 0.25rem;
								border-width: 1px;
								border-color: #e5e7eb;

								.item-icon {
									padding: 0.25rem;
									background-color: #fff;
									transition-duration: 300ms;
									transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
									color: #000;
									border-radius: 0.25rem;
									fill: currentcolor;
									box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
									opacity: 0;

									&:hover {
										color: #ef4444;
									}
								}

								.item-delete-button {
									position: absolute;
									top: 0.5rem;
									right: 0.5rem;
									z-index: 50;
									background: transparent;
									border: none;
									cursor: pointer;
								}

								.item-edit-button {
									position: absolute;
									top: 0.5rem;
									left: 0.5rem;
									z-index: 50;
									background: transparent;
									border: none;
									cursor: pointer;
								}

								.item-duplicate-button {
									position: absolute;
									left: 0.5rem;
									bottom: 6rem;
									z-index: 50;
									background: transparent;
									border: none;
									cursor: pointer;
								}

								.item-pattern-preview {
									display: flex;
									z-index: 0;
									padding: 0.75rem;
									flex-grow: 1;
									align-items: center;
								}
							}

							.item-pattern-preview-heading {
								display: flex;
								justify-content: center;
								background: #f1f1f1;
								padding: 1rem;
								font-size: 0.875rem;
								line-height: 20px;
							}
						}
					}
				}
			}

		}
	}

	.patternmanager-pattern-editor-loading-outer {
		justify-content: center;
		align-items: center;
		height: 100vh;
		min-height: 100%;

		.patternmanager-pattern-editor-loading-inner {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
			min-height: 100%;

			span {
				padding-left: 0.25rem;
				padding-right: 0.25rem;
				font-weight: 600;
			}
		}
	}

	.patternmanager-pattern-editor-columns {
		width: 100%;
		height: calc(100vh - 64px - 32px);
		display: grid;
		grid-template-columns: minmax(200px, 1fr) 280px;
		-moz-column-gap: 0;
		column-gap: 0;

		.editor-styles-wrapper {
			height: 100%;
			padding: 0;
		}

		.column {
			position: relative;
			overflow-y: scroll;
			background-color: #fff;
		}

		.column:first-child {
			padding-top: 0;
		}

		.column > :last-child {
			background: #fff;
			height: 32px;
			border-top: 1px solid #e0e0e0;
		}

		.column:last-child {
			background: #fff;
		}
	}

	summary::marker,
	summary::-webkit-details-marker {
		color: transparent;
		content: "";
		display: none;
	}

	/* stylelint-disable */
	summary::after {
		content: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.50002 1L7.00002 6L12.5 1' stroke='%231E1E1E' stroke-width='1.5'/%3E%3C/svg%3E");
		display: inline-block;
		float: right;
	}

	/* stylelint-enable */

	details[open] > summary::after {
		transform: rotate(180deg);
	}

}

.sidebar-closed .sticky {
	margin-left: 60px;
}

/* stylelint-disable */
/* Modal Width */
.components-modal__content {
	min-width: 90vw;
	min-height: 300px;
}

input[type="checkbox"]:checked::before {
	content: inherit;
}

.components-modal__frame {
	max-height: 90vh;
	min-height: 90vh;
}

/* Settings UI */

.pm-type-boolean,
.pm-type-string {
	& > div {
		@apply items-center;
	}

	.pm-label {
		@apply col-span-2;
	}

	.pm-property {
		@apply col-span-2;
	}
}

.pm-type-array {
	.pm-label {
		@apply col-span-2;
	}

	.pm-property {
		@apply col-span-2;
	}
}

.pm-type-array,
.pm-type-boolean {

	input[type=checkbox],
	input[type=radio],
	[type='checkbox']:checked,
	[type='radio']:checked {
		@apply w-[1.25rem] h-[1.25rem] rounded;
	}

	[type='checkbox']:checked,
	[type='radio']:checked {
		@apply bg-wp-blue;
	}

	[type='checkbox']:checked:focus {
		@apply bg-wp-blue shadow-black;
	}

	[type='checkbox']:checked:hover {
		@apply bg-wp-blue-hover;
	}
}

.pm-font-sizes,
.pm-font-families {
	.pm-label {
		@apply col-span-full;
	}

	.pm-property {
		@apply col-span-full;
	}
}

.pm-typography-font-sizes,
.pm-typography-font-families {
	& > div {
		@apply bg-gray-100 px-5 rounded;
	}

	& > div > div .grid {
		@apply gap-2 py-4;
	}
}

.pm-duotone,
.pm-gradients,
.pm-palette {
	.pm-property {
		@apply col-span-full;
	}

	.pm-label {
		@apply col-span-full;
	}
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.pm-json-nav {
	li {
		order: 10;
	}

	li:nth-child(2) {
		order: 1;
	}

	li:nth-child(6) {
		order: 2;
	}

	li:nth-child(4) {
		order: 3;
	}

	li:nth-child(5) {
		order: 4;
	}
}

.pm-nav button:disabled {
	opacity: .6;
}

.pm-nav ul {
	background: #1E1E1E;
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	border-radius: 3px;
	gap: 3px;
}

.pm-nav li {
	color: #fff;
	position: relative;
	text-decoration: none;
	transition-duration: 0.3s;
	margin: 0;
	border-radius: 3px;
}

.pm-nav li button {
	color: #fff;
	padding: 8px 16px;
	border-radius: 3px;
}

.pm-nav li:hover,
.pm-nav li:focus-within {
	background: #404040;
	cursor: pointer;
}

.pm-nav li:focus-within button {
	outline: none;
}

.pm-nav ul li ul {
	background: #1E1E1E;
	visibility: hidden;
	opacity: 0;
	min-width: 300px;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 0;
	left: 0;
	display: none;
	padding: 10px 0;
	font-weight: 400;
	gap: 0;
}

.pm-nav ul li ul li:hover {
	background: none;
}

.pm-nav ul li ul li ul {
	left: 300px;
	top: -10px;
	background: #2f2f2f;
}

.pm-nav ul li ul li button {
	width: 100%;
	text-align: left;
	color: #c6c6c6;
	transition-duration: 0.3s;
	padding: 11px 16px;
}

.pm-nav ul li ul li button:hover {
	color: #fff;
}

.pm-nav ul li:hover>ul,
.pm-nav ul li:focus-within>ul,
.pm-nav ul li ul:hover,
.pm-nav ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block;
}

.pm-nav ul li ul li {
	clear: both;
	width: 100%;
}
