html.wp-toolbar {
	padding-top: 0 !important;
}

#wpadminbar {
	display: none;
}

/* stylelint-disable */
html body.toplevel_page_pattern-manager {
	margin-top: 0 !important;
	height: 100% !important;
	background: #fff;
}

.interface-interface-skeleton__html-container {
	padding-top: 0 !important;
}

/* stylelint-enable */

#wpwrap {
	height: 100%;
}

#wpcontent,
#wpbody-content {
	margin: 0 !important;
	padding: 0 !important;
}

#adminmenumain {
	display: none !important;
}

#wpfooter {
	display: none;
}

#wpbody {
	padding-top: 0;
}


/* stylelint-disable */
// Temp hacks for Gutenberg style issues
.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper>*,
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container>*,
.wp-block {
	max-width: initial;
}

.components-snackbar {
	z-index: 999999999999;
	position: fixed;
	bottom: 10px;
	left: 10px;
	border: 1px solid #ffffff47;
}

/* stylelint-enable */

#patternmanagerapp {
	z-index: 9999999999;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: #fff;
	font-size: 16px;

	* {
		box-sizing: border-box !important;
	}

	.patternmanager-pattern-editor-columns {
		width: 100%;
		height: calc(100vh - 64px - 32px);
		display: grid;
		grid-template-columns: minmax(200px, 1fr) 280px;
		-moz-column-gap: 0;
		column-gap: 0;

		.editor-styles-wrapper {
			height: 100%;
			padding: 0;
		}

		.column {
			position: relative;
			overflow-y: scroll;
			background-color: #fff;
		}

		.column:first-child {
			padding-top: 0;
		}

		.column> :last-child {
			background: #fff;
			height: 32px;
			border-top: 1px solid #e0e0e0;
		}

		.column:last-child {
			background: #fff;
		}
	}

	summary::marker,
	summary::-webkit-details-marker {
		color: transparent;
		content: "";
		display: none;
	}

	/* stylelint-disable */
	summary::after {
		content: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.50002 1L7.00002 6L12.5 1' stroke='%231E1E1E' stroke-width='1.5'/%3E%3C/svg%3E");
		display: inline-block;
		float: right;
	}

	/* stylelint-enable */

	details[open]>summary::after {
		transform: rotate(180deg);
	}

}

.sidebar-closed .sticky {
	margin-left: 60px;
}

/* stylelint-disable */
/* Modal Width */
.components-modal__content {
	min-width: 90vw;
	min-height: 300px;
}

input[type="checkbox"]:checked::before {
	content: inherit;
}

.components-modal__frame {
	max-height: 90vh;
	min-height: 90vh;
}

/* Settings UI */

.fses-type-boolean,
.fses-type-string {
	&>div {
		@apply items-center;
	}

	.fses-label {
		@apply col-span-2;
	}

	.fses-property {
		@apply col-span-2;
	}
}

.fses-type-array {
	.fses-label {
		@apply col-span-2;
	}

	.fses-property {
		@apply col-span-2;
	}
}

.fses-type-array,
.fses-type-boolean {

	input[type=checkbox],
	input[type=radio],
	[type='checkbox']:checked,
	[type='radio']:checked {
		@apply w-[1.25rem] h-[1.25rem] rounded;
	}

	[type='checkbox']:checked,
	[type='radio']:checked {
		@apply bg-wp-blue;
	}

	[type='checkbox']:checked:focus {
		@apply bg-wp-blue shadow-black;
	}

	[type='checkbox']:checked:hover {
		@apply bg-wp-blue-hover;
	}
}

.fses-font-sizes,
.fses-font-families {
	.fses-label {
		@apply col-span-full;
	}

	.fses-property {
		@apply col-span-full;
	}
}

.fses-typography-font-sizes,
.fses-typography-font-families {
	&>div {
		@apply bg-gray-100 px-5 rounded;
	}

	&>div>div .grid {
		@apply gap-2 py-4;
	}
}

.fses-duotone,
.fses-gradients,
.fses-palette {
	.fses-property {
		@apply col-span-full;
	}

	.fses-label {
		@apply col-span-full;
	}
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.fses-json-nav {
	li {
		order: 10;
	}

	li:nth-child(2) {
		order: 1;
	}

	li:nth-child(6) {
		order: 2;
	}

	li:nth-child(4) {
		order: 3;
	}

	li:nth-child(5) {
		order: 4;
	}
}

.fses-nav button:disabled {
	opacity: .6;
}

.fses-nav ul {
	background: #1E1E1E;
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	border-radius: 3px;
	gap: 3px;
}

.fses-nav li {
	color: #fff;
	position: relative;
	text-decoration: none;
	transition-duration: 0.3s;
	margin: 0;
	border-radius: 3px;
}

.fses-nav li button {
	color: #fff;
	padding: 8px 16px;
	border-radius: 3px;
}

.fses-nav li:hover,
.fses-nav li:focus-within {
	background: #404040;
	cursor: pointer;
}

.fses-nav li:focus-within button {
	outline: none;
}

.fses-nav ul li ul {
	background: #1E1E1E;
	visibility: hidden;
	opacity: 0;
	min-width: 300px;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 0;
	left: 0;
	display: none;
	padding: 10px 0;
	font-weight: 400;
	gap: 0;
}

.fses-nav ul li ul li:hover {
	background: none;
}

.fses-nav ul li ul li ul {
	left: 300px;
	top: -10px;
	background: #2f2f2f;
}

.fses-nav ul li ul li button {
	width: 100%;
	text-align: left;
	color: #c6c6c6;
	transition-duration: 0.3s;
	padding: 11px 16px;
}

.fses-nav ul li ul li button:hover {
	color: #fff;
}

.fses-nav ul li:hover>ul,
.fses-nav ul li:focus-within>ul,
.fses-nav ul li ul:hover,
.fses-nav ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block;
}

.fses-nav ul li ul li {
	clear: both;
	width: 100%;
}