/* stylelint-disable */
html body.toplevel_page_pattern-manager {
	height: 100% !important;
	background: #fff;
}

.interface-interface-skeleton__html-container {
	padding-top: 0 !important;
}

.toplevel_page_pattern-manager #wpcontent {
	padding-left: 0;
}

/* stylelint-enable */

#wpfooter {
	display: none;
}

#wpbody {
	height: 100%;
	background: #f1f1f1;
}

/* stylelint-disable */
// Temp hacks for Gutenberg style issues
.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper > *,
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > *,
.wp-block {
	max-width: initial;
}

.components-snackbar {
	z-index: 999999999999;
	position: fixed;
	bottom: 10px;
	left: 10px;
	border: 1px solid #ffffff47;
}

/* stylelint-enable */

#pattern-manager-app {
	box-sizing: border-box;
	background: #f1f1f1;
	font-size: 16px;

	* {
		box-sizing: border-box !important;
	}

	.pattern-manager-header-container {
		z-index: 10;
		position: sticky;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		gap: 1.5rem;
		flex-shrink: 0;
		flex-wrap: wrap;
		background: #fff;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
		margin-left: auto;
		margin-right: auto;
		padding: 1rem 3rem 1rem 3rem;
		top: 32px;

		@media (max-width: 782px) {
			top: 46px;
		}

		.header-container-logo {
			position: relative;
			margin-right: auto;
			text-align: center;
			display: table;

			.logo-svg {
				height: 30px;
				width: 30px;
			}

			.logo-title {
				display: table-cell;
				font-size: 16px;
				font-weight: 600;
				vertical-align: middle;
				padding-left: 10px;
				padding-bottom: 4px;
			}
		}

		.header-container-inner {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;
		}
	}

	.pattern-manager-theme-patterns {
		width: 100%;
		padding: 3rem;
		border: solid 3rem #f1f1f1;
	}

	.patternmanager-pattern-editor-loading-outer {
		justify-content: center;
		align-items: center;
		height: 100vh;
		min-height: 100%;

		.patternmanager-pattern-editor-loading-inner {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
			min-height: 100%;

			span {
				padding-left: 0.25rem;
				padding-right: 0.25rem;
				font-weight: 600;
			}
		}
	}

	.patternmanager-notice-container {
		margin-bottom: 3rem;

		.patternmanager-notice {
			margin-left: auto;
			margin-right: auto;
			padding-right: 12px;
			padding-left: 12px;

			.components-notice__content {
				margin-right: 0;
	
				span {
					margin-left: 2px;
					text-decoration: none;
				}
			}
		}

		.is-info {
			background-color: aliceblue;
		}

		.patternmanager-notice:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	.patternmanager-pattern-editor-columns {
		width: 100%;
		height: calc(100vh - 64px - 32px);
		display: grid;
		grid-template-columns: minmax(200px, 1fr) 280px;
		-moz-column-gap: 0;
		column-gap: 0;

		.editor-styles-wrapper {
			height: 100%;
			padding: 0;
		}

		.column {
			position: relative;
			overflow-y: scroll;
			background-color: #fff;
		}

		.column:first-child {
			padding-top: 0;
		}

		.column > :last-child {
			background: #fff;
			height: 32px;
			border-top: 1px solid #e0e0e0;
		}

		.column:last-child {
			background: #fff;
		}
	}

	summary::marker,
	summary::-webkit-details-marker {
		color: transparent;
		content: "";
		display: none;
	}

	/* stylelint-disable */
	summary::after {
		content: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.50002 1L7.00002 6L12.5 1' stroke='%231E1E1E' stroke-width='1.5'/%3E%3C/svg%3E");
		display: inline-block;
		float: right;
	}

	/* stylelint-enable */

	details[open] > summary::after {
		transform: rotate(180deg);
	}

}

.sidebar-closed .sticky {
	margin-left: 60px;
}

/* stylelint-disable */
/* Modal Width */
.components-modal__content {
	min-width: 90vw;
	min-height: 300px;
}

input[type="checkbox"]:checked::before {
	content: inherit;
}

.components-modal__frame {
	max-height: 90vh;
	min-height: 90vh;
}

/* Settings UI */

.pm-type-boolean,
.pm-type-string {
	& > div {
		@apply items-center;
	}

	.pm-label {
		@apply col-span-2;
	}

	.pm-property {
		@apply col-span-2;
	}
}

.pm-type-array {
	.pm-label {
		@apply col-span-2;
	}

	.pm-property {
		@apply col-span-2;
	}
}

.pm-type-array,
.pm-type-boolean {

	input[type=checkbox],
	input[type=radio],
	[type='checkbox']:checked,
	[type='radio']:checked {
		@apply w-[1.25rem] h-[1.25rem] rounded;
	}

	[type='checkbox']:checked,
	[type='radio']:checked {
		@apply bg-wp-blue;
	}

	[type='checkbox']:checked:focus {
		@apply bg-wp-blue shadow-black;
	}

	[type='checkbox']:checked:hover {
		@apply bg-wp-blue-hover;
	}
}

.pm-font-sizes,
.pm-font-families {
	.pm-label {
		@apply col-span-full;
	}

	.pm-property {
		@apply col-span-full;
	}
}

.pm-typography-font-sizes,
.pm-typography-font-families {
	& > div {
		@apply bg-gray-100 px-5 rounded;
	}

	& > div > div .grid {
		@apply gap-2 py-4;
	}
}

.pm-duotone,
.pm-gradients,
.pm-palette {
	.pm-property {
		@apply col-span-full;
	}

	.pm-label {
		@apply col-span-full;
	}
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.pm-json-nav {
	li {
		order: 10;
	}

	li:nth-child(2) {
		order: 1;
	}

	li:nth-child(6) {
		order: 2;
	}

	li:nth-child(4) {
		order: 3;
	}

	li:nth-child(5) {
		order: 4;
	}
}

.pm-nav button:disabled {
	opacity: .6;
}

.pm-nav ul {
	background: #1E1E1E;
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	border-radius: 3px;
	gap: 3px;
}

.pm-nav li {
	color: #fff;
	position: relative;
	text-decoration: none;
	transition-duration: 0.3s;
	margin: 0;
	border-radius: 3px;
}

.pm-nav li button {
	color: #fff;
	padding: 8px 16px;
	border-radius: 3px;
}

.pm-nav li:hover,
.pm-nav li:focus-within {
	background: #404040;
	cursor: pointer;
}

.pm-nav li:focus-within button {
	outline: none;
}

.pm-nav ul li ul {
	background: #1E1E1E;
	visibility: hidden;
	opacity: 0;
	min-width: 300px;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 0;
	left: 0;
	display: none;
	padding: 10px 0;
	font-weight: 400;
	gap: 0;
}

.pm-nav ul li ul li:hover {
	background: none;
}

.pm-nav ul li ul li ul {
	left: 300px;
	top: -10px;
	background: #2f2f2f;
}

.pm-nav ul li ul li button {
	width: 100%;
	text-align: left;
	color: #c6c6c6;
	transition-duration: 0.3s;
	padding: 11px 16px;
}

.pm-nav ul li ul li button:hover {
	color: #fff;
}

.pm-nav ul li:hover>ul,
.pm-nav ul li:focus-within>ul,
.pm-nav ul li ul:hover,
.pm-nav ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block;
}

.pm-nav ul li ul li {
	clear: both;
	width: 100%;
}
